body {
	background: url('../img/background.jpg') no-repeat center/cover;
	height: 100vh;
	background-attachment: fixed;
}

label {
	cursor: pointer;
}

span {
	text-decoration: underline;
}

.card {
	cursor: pointer;
}